doctype html
html
  head
    title= `${[title_ja, collection].join(' - ')}`
    meta
  body
    header
      h1 Styleguide for #{title_ja}
      p build: v#{pkg.version} - #{(new Date()).toString()}

      nav
        ul
          each collection, key in collections
            li
              span= toLocale(collection[0], 'collection')
              ul
                each page in collection
                  - const current = page.path === path
                  li: a(href=`${baseUrl}/${page.path}` class=current ? 'is-current' : undefined)= toLocale(page, 'title')
    main !{contents}
    footer